<nav class="nav collapsible">
  <a class="nav_brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <!--this is when the user clicks on the logo he returns back to the home page / the slash stands for home page or root page -->
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
